<!DOCTYPE html>
<html>
<head>
  <title>Cms3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
    
    <a class=brand >Pages Name -- </a>
 <ul class="nav">
 
  <% @pages.each do |page| %>
 <li> <%= link_to page.title , site_page_path(@site, page) %></li>
 <% end %>
  </ul>
</div>
</div>
</div></div>    
<div class="pull-right" >  
Welcome <%= current_user.username %> |
<%= link_to "Sites" , sites_path %> |
<%= link_to "Profile" , profiles_path%> |
<%= link_to "Logout" , destroy_user_session_path, method: :delete %>


</div>
<div class= "container">

<%= yield %>
</div>
</body>
</html>
